* {
font-family: avenir;
}


#hero{
padding: 5% 12%;
}


h1{
    font-family: futura-pt;
    font-size: 64px;
    font-weight:bold;
    
}


#btn{
    
    width: 200px;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
}

.btn-primary{
    background-color: #FCBE2B;
    border-color: #FCBE2B;
}

.btn-primary:hover{
    background-color: #E6AC27;
    border-color: #E6AC27;
}

.btn-secondary{
    background-color: #385CE9;
    border-color: #385CE9;
}

.btn-secondary:hover{
    background-color: #B9C5F8;
    border-color: #B9C5F8;
}


#socialmedia{
    margin:auto;
}


h2{
    font-size: 48px;
    font-family: futura-pt;
    font-weight: bold;
}

h3{
    font-size: 32px;
    font-family: futura-pt;
    font-weight: bold;
}

h4{
    font-size:24px;
    font-family: futura-pt;
    font-weight: bold;
    margin-left: 7.8vw; 
}

h5{
    font-size: 18px;
    font-family: futura-pt;
    font-weight: bold;
     
}





.nav-pills a{
display: inline-block;
  color: #1F2260;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-radius: 3px;
}

.nav-pills a.active {
    background-color: #B9C5F8 !important;
    color: #1F2260 !important;
}

.icon{
    margin:5%;
}

.line{
    color: #B9C5F8;
    margin-left: 7.8vw;
    margin-top: -2%;
}




.circle1 {
    height: 75px;
    width: 75px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }


