* {
font-family: lato;
}

.navbar li{
    padding-right: 1rem;
}


h1{
    font-family: futura-pt;
    font-size: 64px;
    font-weight:bold;
    
}


#btn{
    
    width: 200px;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
}

.btn-primary{
    background-color: #FCBE2B;
    border-color: #FCBE2B;
}

.btn-primary:hover{
    background-color: #E6AC27;
    border-color: #E6AC27;
}

.btn-secondary{
    background-color: #385CE9;
    border-color: #385CE9;
}

.btn-secondary:hover{
    background-color: #B9C5F8;
    border-color: #B9C5F8;
}


#socialmedia{
    margin:auto;
}


h2{
    font-size: 56px;
    font-family: futura-pt;
    font-weight: bold;
}

h3{
    font-size: 48px;
    font-family: futura-pt;
    font-weight: bold;
}

h4{
    font-size: 40px;
    font-family: futura-pt;
    font-weight: bold;
}

h5{
    font-size: 32px;
    font-family: futura-pt;
    font-weight: bold;
     
}

p{
    font-size: 24px;
}




.nav-pills a{
display: inline-block;
  color: #1F2260;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-radius: 3px;
}

.nav-pills a.active {
    background-color: #B9C5F8 !important;
    color: #1F2260 !important;
}

.icon{
    margin:5%;
}

.line{
    color: #B9C5F8;
    margin-left: 7.8vw;
    margin-top: -2%;
}




.circle1 {
    height: 75px;
    width: 75px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

@media screen and (min-width: 992px) {
  .profiterra-img {
    border-radius: 15px;
  }
  #hero{
    padding: 5% 12%;
    }
    .spaceTopBottom{
        padding:6vh 0;
    }
    .spaceAllSides{
        padding:12vh 8vw;
    }
}

@media screen and (max-width: 992px) {
    .profiterra-img {
        border-radius: 15px 15px 0 0;
      }
    .align-text-center {
      text-align: center;
    }
    #hero{
        padding-top: 5%;
        padding-bottom: 5%;
        }
    .cert img{
        margin-top: 5%;
    }
    .spaceTopBottom{
        padding:2vh 0;
    }
    .spaceAllSides{
        padding: 4vh 2vw;
    }
    .spaceTopOnMobile{
        padding-top: 2vh;
    }
  }
